#big{
    color: red;
    font-size: 40px;
    text-align: center;
    font-family: 'Arial Black', 'Gadget', 'sans-serif';
    margin-bottom: 10%;
}
#second{
    color: darkcyan;
    font-size: 40px;
    text-align: center;
}
#input{
    background-color: lightblue;
    border: 5px solid darkblue;
    width: 40%;
    margin-left: 40%;
}
.small{
    color: green;

}
.small:visited{
    color: gray;
}

.small:hover{
    color: goldenrod;
}
.small:active{
    color: pink;
}